.btn{
  background-color: rgb(204, 212, 212);
  padding: 20px 40px;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}