.card{
  width: 20vw;
  height: 35vh;
  border: 1px solid rgba(26, 26, 26, 0.103);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem gray;
  margin: 2rem;
  display: inline-block;
}

.card img{
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0;
}

.card h2,
.card p{
  margin: 0;
  padding: 0 0.5rem;
}

.card h2{
  padding-bottom: 1rem;
}